.btn-area{
  margin-bottom: 1rem;
}

.button-delete, .button-add, .list-check {
  max-width: fit-content;
  margin-top: 3px;

  button {
    width: 50px; 
    height: 40px; 
    transition: 0.3s ease;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      font-size: 20px; 
    }
  }
}


.button-delete a > button {
  width: 50px; 
  height: 40px;
  color: #000; 
  border: 1px solid #000; 
  &:hover {
    color: var(--color-white);
    background-color: var(--color-xam);
  }
}


.list-check > button {
  width: 50px; 
  height: 40px;
  color: red; 
  border: 1px solid red; 
  background-color: #ffe6e6; 
  &:hover {
    color: var(--color-white);
    background-color: red; 
  }

  
  svg {
    font-size: 20px; 
  }
}

.button-add > button {
  width: 40px;
  height: 40px;
  color: var(--color-navbar);
  border: 1px solid var(--color-navbar);
  &:hover {
    color: var(--color-white);
    background-color: var(--color-navbar);
  }

  
  svg {
    font-size: 20px; 
  }
}
