.card-content {
  border: 1px solid var(--color-secondary);
  .styled-card {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 1rem;
    width: auto;

    .actions-wrapper {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      padding: .5rem .5rem;
      .delete-button {
        color: red;
        font-weight: 700;
        line-height: 1;
        font-size: 1.5rem;
      }
    }

    .edit-button {
      width: 80%;
      text-align: center;
      background-color: transparent;
      border: 1px solid transparent;
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      line-height: 1.5;
      border-radius: 0.35rem;
      box-shadow: 0 0.125rem 0.25rem 0 var(--color-box-shadow);
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      color: var(--background-color-regular);
      border-color: var(--background-color-regular);
      margin: 0 auto 1rem auto;
      &:hover {
        color: var(--color-white);
        background-color: var(--background-color-regular);
        border-color: var(--background-color-regular);
      }
    }

    .actions-wrapper-des {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      padding: 1.2rem 1rem;

      &-content {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 1.3rem;
      }

      &-small {
        font-size: 1rem;
      }
    }

    .styled-image {
      object-fit: cover;
    }
  }
}
